@use "theme";

* {
    user-select: none;
}
body {
    margin: 0;
	overflow: hidden;
}
canvas {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	bottom: 0;
}

.debug-controls {
	position: fixed;
	right: 10px;
	top: 10px;
	p {
		font-family: monospace;
		color: white;
	}
	#debug-render {
		margin-top: 5px;
	}
}